@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-hanshake {
    background-image: url("/assets/hand.jpg");
}
.bg-bluemd {
    background-image: url("/assets/bluemd.png");
}
.bg-bluetab {
    background-image: url("/assets/bluetab.png");
}
.bg-arc {
    background-image: url("/assets/arc.png");
}
.bg-leaf {
    background-image: url("/assets/leaves.png");
}
.diamond {
    list-style-image: url("/assets/list.png");
}
.active svg {
    transform: rotate(180deg);
}
